<div class="background_register_form">
<div class="form_group_main">
      <div class="form_header">
          <div class="infor_form1">
              <div class="header">
                  <div class="title_left">
                    <label class="content_left">Thông tin chính</label>
                  </div>

                  <div class="title_right">
                    <label class="content_right">Ẩn</label>
                    <span nz-icon nzType="caret-up" nzTheme="outline" class="icon1"></span>
                  </div>
              </div>
              <div class="line"></div>    

              <div class="form_namedate">
                  <div nz-row class="item">
                    <div nz-col class="name">Họ và tên</div>
                    <div nz-col>
                        <form nz-form [formGroup]="validateForm" >
                            <nz-form-item >
                                  <nz-form-control  nzErrorTip="Chưa điền họ tên">
                                      <nz-input-group>
                                        <input 
                                        type="text" 
                                        nz-input
                                        formControlName="username" 
                                        placeholder="Nhập" 
                                        class="input1"
                                        >
                                      </nz-input-group>
                                  </nz-form-control>
                            </nz-form-item>
                        </form>
                    </div>
                    <div nz-col class="date">Ngày sinh</div>
                    <div nz-col>
                        <form nz-form [formGroup]="validateForm">
                            <nz-form-item>
                                  <nz-form-control nzErrorTip="Chưa điền ngày sinh">
                                      <nz-input-group class="background_date">
                                        <input 
                                        type="text" 
                                        nz-input
                                        formControlName="birthday" 
                                        placeholder="DDD/MM/YYY" 
                                        class="input2">
                                        <span nz-icon nzType="calendar" nzTheme="outline" class="icon2"></span>
                                      </nz-input-group>
                                  </nz-form-control>
                            </nz-form-item>
                        </form>
                    </div>
                  </div>
              </div>

              <div class="form_genderphone">
                <div nz-row class="item1">
                  <div nz-col class="date">Giới tính</div>
                  <div nz-col>
                      <form nz-form [formGroup]="validateForm" >
                          <nz-form-item>
                                <nz-form-control nzErrorTip="Chưa điền giới tính">
                                    <nz-input-group class="background_gender">
                                      <input 
                                      type="text" 
                                      nz-input
                                      formControlName="gender"
                                      placeholder="Nhập" 
                                      class="input3"
                                      >
                                      <span nz-icon nzType="down" nzTheme="outline" class="icon3"></span>
                                    </nz-input-group>
                                </nz-form-control>
                          </nz-form-item>
                      </form>
                  </div>
                  <div nz-col class="phone">Di động</div>
                  <div nz-col>
                      <form nz-form [formGroup]="validateForm">
                          <nz-form-item>
                                <nz-form-control nzErrorTip="Bạn chưa điền số điện thoại">
                                    <nz-input-group>
                                      <input 
                                      type="text"
                                      nz-input
                                      formControlName="phone"
                                       placeholder="Nhập" 
                                       class="input4"
                                       >
                                    </nz-input-group>
                                </nz-form-control>
                          </nz-form-item>
                      </form>
                  </div>
                </div>
              </div>

              <div class="form_citydistrict">
                <div nz-row class="item2">
                  <div nz-col class="city">Thành phố</div>
                  <div nz-col>
                      <form nz-form [formGroup]="validateForm">
                          <nz-form-item>
                                <nz-form-control nzErrorTip="Bạn chưa điền thành phố">
                                    <nz-input-group class="background_city">
                                      <input 
                                      type="text"
                                      nz-input
                                      formControlName="city" 
                                      placeholder="Nhập" 
                                      class="input5"
                                      >
                                      <span nz-icon nzType="down" nzTheme="outline" class="icon4"></span>
                                    </nz-input-group>
                                </nz-form-control>
                          </nz-form-item>
                      </form>
                  </div>
                  <div nz-col class="district">Quận/Xã</div>
                  <div nz-col>
                      <form nz-form [formGroup]="validateForm">
                          <nz-form-item>
                                <nz-form-control nzErrorTip="Bạn chưa điền quận / xã">
                                    <nz-input-group class="background_district">
                                      <input 
                                      type="text"
                                      nz-input
                                      formControlName="district" 
                                       placeholder="Nhập" 
                                       class="input6"
                                       >
                                      <span nz-icon nzType="down" nzTheme="outline" class="icon5"></span>
                                    </nz-input-group>
                                </nz-form-control>
                          </nz-form-item>
                      </form>
                  </div>
                </div>
              </div>

               <div class="form_address">
                <div nz-row class="item3">
                  <div nz-col class="address">Địa chỉ</div>
                  <div nz-col nzSpan="12">
                      <form nz-form [formGroup]="validateForm">
                          <nz-form-item>
                                <nz-form-control nzErrorTip="Bạn chưa nhập địa chỉ">
                                    <nz-input-group>
                                      <input 
                                      type="text"
                                      nz-input
                                      formControlName="address" 
                                       placeholder="Nhập" 
                                       class="input7">
                                    </nz-input-group>
                                </nz-form-control>
                          </nz-form-item>
                      </form>
                  </div>
                </div>
               </div>
          </div>
              <div class="linehight"></div>

              <div class="infor_form2">
                      <div class="header_receive">
                          <div class="title_receiveleft">
                              <label class="content_receiveleft">Thông tin tiếp nhận</label>
                          </div>

                          <div class="title_receiveright">
                            <label class="content_receiveright">Ẩn</label>
                            <span nz-icon nzType="caret-up" nzTheme="outline" class="icon6"></span>
                          </div>
                      </div>
                      <div class="linehight1"></div>
                    
                      <div class="form_Reception">
                      <div nz-row class="item4">
                        <div nz-col class="day_Reception">Ngày nhập viện</div>
                        <div nz-col>
                            <form nz-form [formGroup]="formInformation">
                                <nz-form-item>
                                      <nz-form-control nzErrorTip="Bạn chưa điền ngày nhập viện">
                                          <nz-input-group class="background_reception">
                                            <input 
                                            type="text" 
                                            nz-input
                                            formControlName="hospitalizedday"
                                            placeholder="DD/MM/YYYY" 
                                            class="input8">
                                            <span nz-icon nzType="calendar" nzTheme="outline" class="icon7"></span>
                                          </nz-input-group>
                                      </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                        <div nz-col class="subclass">Phân lớp</div>
                        <div nz-col>
                            <form [formGroup]="formInformation">
                                <nz-form-item>
                                      <nz-form-control nzErrorTip="Bạn chưa điền phân lớp">
                                          <nz-input-group class="background_subclass">
                                            <input 
                                            type="text" 
                                            nz-input
                                            formControlName="subclass"
                                            placeholder="Chọn" 
                                            class="input9">
                                            <span nz-icon nzType="down" nzTheme="outline" class="icon8"></span>
                                          </nz-input-group>
                                      </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                      </div>
                    </div>

                    <div class="form_sourcetype">
                      <div nz-row class="item5">
                        <div nz-col class="type">Loại</div>
                        <div nz-col>
                            <form [formGroup]="formInformation">
                                <nz-form-item>
                                      <nz-form-control nzErrorTip="Bạn chưa điền loại">
                                          <nz-input-group class="background_type">
                                            <input 
                                            type="text"
                                            nz-input
                                            formControlName="type" 
                                            placeholder="Chọn" 
                                            class="input10"
                                            >
                                            <span nz-icon nzType="down" nzTheme="outline" class="icon9"></span>
                                          </nz-input-group>
                                      </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                        <div nz-col class="source">Nguồn</div>
                        <div nz-col>
                            <form  [formGroup]="formInformation">
                                <nz-form-item>
                                      <nz-form-control nzErrorTip="Bạn chưa điền nguồn">
                                          <nz-input-group class="background_source">
                                            <input 
                                            type="text" 
                                            nz-input
                                            formControlName="source" 
                                            placeholder="Chọn" 
                                            class="input11"
                                            >
                                            <span nz-icon nzType="down" nzTheme="outline" class="icon10"></span>
                                          </nz-input-group>
                                      </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                      </div>
                    </div>

                    <div class="form_institute_accident">
                      <div nz-row class="item6">
                        <div nz-col class="institute">Từ viện</div>
                        <div nz-col>
                            <form [formGroup]="formInformation">
                                <nz-form-item>
                                      <nz-form-control nzErrorTip="Bạn chưa điền Từ Viện">
                                          <nz-input-group class="background_institute">
                                            <input 
                                            type="text"
                                            nz-input
                                            formControlName="institute"  
                                            placeholder="Chọn" 
                                            class="input12"
                                            >
                                            <span nz-icon nzType="down" nzTheme="outline" class="icon11"></span>
                                          </nz-input-group>
                                      </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                        <div nz-col class="accident">Tai nạn</div>
                        <div nz-col>
                            <form [formGroup]="formInformation">
                                <nz-form-item>
                                      <nz-form-control nzErrorTip="Thông tin tai nạn không hợp lệ">
                                          <nz-input-group class="background_accident">
                                            <input 
                                            type="text" 
                                            nz-input
                                            formControlName="accident"
                                            placeholder="Chọn" 
                                            class="input13"
                                            >
                                            <span nz-icon nzType="down" nzTheme="outline" class="icon12"></span>
                                          </nz-input-group>
                                      </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                      </div>
                    </div>

                    <div class="form_object_group">
                      <div nz-row class="item7">
                        <div nz-col class="object">Đối tượng</div>
                        <div nz-col>
                            <form [formGroup]="formInformation">
                                <nz-form-item>
                                      <nz-form-control nzErrorTip="Đối tượng không tồn tại">
                                          <nz-input-group class="background_object">
                                            <input 
                                            type="text" 
                                            nz-input
                                            formControlName="object"
                                            placeholder="Chọn" 
                                            class="input14"
                                            >
                                            <span nz-icon nzType="down" nzTheme="outline" class="icon13"></span>
                                          </nz-input-group>
                                      </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                        <div nz-col class="group">Nhóm h...</div>
                        <div nz-col>
                            <form [formGroup]="formInformation">
                                <nz-form-item>
                                      <nz-form-control nzErrorTip="Nhóm không tồn tại">
                                          <nz-input-group class="background_group">
                                            <input 
                                            type="text" 
                                            nz-input
                                            formControlName="group"
                                            placeholder="Chọn" 
                                            class="input15"
                                            >
                                            <span nz-icon nzType="down" nzTheme="outline" class="icon14"></span>
                                          </nz-input-group>
                                      </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                      </div>
                    </div>

                    <div class="form_rank_positon">
                      <div nz-row class="item8">
                        <div nz-col class="rank">Cấp bậc</div>
                        <div nz-col>
                            <form [formGroup]="formInformation">
                                <nz-form-item>
                                      <nz-form-control nzErrorTip="Cấp bậc không hợp lệ">
                                          <nz-input-group class="background_rank">
                                            <input 
                                            type="text" 
                                            nz-input
                                            formControlName="rank"
                                            placeholder="Chọn" 
                                            class="input16"
                                            >
                                            <span nz-icon nzType="down" nzTheme="outline" class="icon15"></span>
                                          </nz-input-group>
                                      </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                        <div nz-col class="positon">Chức vụ</div>
                        <div nz-col>
                            <form [formGroup]="formInformation">
                                <nz-form-item>
                                      <nz-form-control nzErrorTip="Chức vụ không hợp lệ">
                                          <nz-input-group class="background_positon">
                                            <input 
                                            type="text" 
                                            nz-input
                                            formControlName="position"
                                            placeholder="Nhập" 
                                            class="input17"
                                            >
                                          </nz-input-group>
                                      </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                      </div>
                    </div>

                    <div class="form_unit">
                      <div nz-row class="item9">
                        <div nz-col class="unit">Đơn vị</div>
                        <div nz-col>
                            <form [formGroup]="formInformation">
                                <nz-form-item>
                                      <nz-form-control nzErrorTip="Đơn vị không hợp lệ"> 
                                          <nz-input-group class="background_unit">
                                            <input 
                                            type="text" 
                                            nz-input
                                            formControlName="unit"
                                            placeholder="Chọn" 
                                            class="input18"
                                            >
                                            <span nz-icon nzType="down" nzTheme="outline" class="icon17"></span>
                                          </nz-input-group>
                                      </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                    </div>

                    <div class="list">
                        <div nz-row class="item10">
                            <div nz-col>
                              <div nz-checkbox class="check1"></div>
                            </div>
                            
                            <div nz-col class="appointment">
                                Có hẹn tái khám
                            </div>
                            <div class="linehight2"></div>

                            <div nz-col>
                              <div nz-checkbox class="check2"></div>
                            </div>

                            <div nz-col class="package">
                              Khám theo gói
                           </div>
                           <div class="linehight3"></div>

                           <div nz-col>
                            <div nz-checkbox class="check3"></div>
                          </div>
                          <div nz-col class="received">
                           KSK đã tiếp nhận
                          </div>
                        </div>      
                    </div>
                    </div>
              </div>
              <div class="linehight4"></div>

              <div class="header_register">
                <div nz-row class="sup">
                  <div nz-col  class="title_register">Đăng ký khám bệnh</div>
                  <div nz-col class="click">
                    Ẩn
                    <span nz-icon nzType="caret-up" nzTheme="outline" class="icon18"></span>
                  </div>
                </div>
                <div class="linehight5"></div>

                <div class="form_reason">
                  <div nz-row class="item11">
                    <div nz-col class="reason">Lý do khám</div>
                    <div nz-col>
                        <form nz-form [formGroup]="formMedical">
                            <nz-form-item>
                                  <nz-form-control nzErrorTip="Bạn chưa điền lý do">
                                      <nz-input-group>
                                        <input 
                                        type="text"
                                        nz-input
                                        formControlName="reason" 
                                        placeholder="Nhập" 
                                        class="input19"
                                        >
                                      </nz-input-group>
                                  </nz-form-control>
                            </nz-form-item>
                        </form>
                    </div>
                 </div>

                 <div nz-row class="item12">
                  <div nz-col class="guarantee">Lý do bảo lãnh</div>
                  <div nz-col>
                      <form nz-form [formGroup]="formMedical">
                          <nz-form-item>
                                <nz-form-control nzErrorTip="Lý do bảo lãnh không hợp lệ">
                                    <nz-input-group>
                                      <input 
                                      type="text"
                                      nz-input
                                      formControlName="guarantee" 
                                      placeholder="Nhập" 
                                      class="input20"
                                      >
                                    </nz-input-group>
                                </nz-form-control>
                          </nz-form-item>
                      </form>
                  </div>
               </div> 
               <div nz-row class="item13">
                <div nz-col class="free_number">Số miễn cùng</div>
                <div nz-col>
                    <form nz-form [formGroup]="formMedical">
                        <nz-form-item>
                              <nz-form-control nzErrorTip="Số miễn không hợp lệ">
                                  <nz-input-group class="background_free_number">
                                    <input 
                                    type="text"
                                    nz-input
                                    formControlName="freenumber" 
                                    placeholder="Chọn" 
                                    class="input21"
                                    >
                                    <span nz-icon nzType="down" nzTheme="outline" class="icon19"></span>
                                  </nz-input-group>
                              </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
                <div nz-col class="free_number1">Miễn cũng chi...</div>
                <div nz-col>
                    <form nz-form [formGroup]="formMedical">
                        <nz-form-item>
                              <nz-form-control nzErrorTip="Không hợp lệ">
                                  <nz-input-group class="background_free_number1">
                                    <input 
                                    type="text"
                                    nz-input
                                    formControlName="exempt" 
                                    placeholder="Chọn" 
                                    class="input22"
                                    >
                                    <span nz-icon nzType="down" nzTheme="outline" class="icon20"></span>
                                  </nz-input-group>
                              </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
              </div>

              <div nz-row class="item14">
                <div nz-col class="service">Dịch vụ</div>
                <div nz-col>
                    <form nz-form [formGroup]="formMedical">
                        <nz-form-item>
                              <nz-form-control nzErrorTip="Dịch vụ không hợp lệ">
                                  <nz-input-group class="background_service">
                                    <input 
                                    type="text" 
                                    nz-input
                                    formControlName="service" 
                                    placeholder="Chọn" 
                                    class="input23"
                                    >
                                    <span nz-icon nzType="down" nzTheme="outline" class="icon21"></span>
                                  </nz-input-group>
                              </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
                <div nz-col class="room">Phòng</div>
                <div nz-col>
                    <form nz-form [formGroup]="formMedical">
                        <nz-form-item>
                              <nz-form-control nzErrorTip="Số phòng không hợp lệ">
                                  <nz-input-group class="background_room">
                                    <input 
                                    type="text" 
                                    nz-input
                                    formControlName="room" 
                                    placeholder="Chọn" 
                                    class="input24"
                                    >
                                    <span nz-icon nzType="down" nzTheme="outline" class="icon22"></span>
                                  </nz-input-group>
                              </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
              </div>
                <div class="list_customer">
                  <div nz-row class="item14">
                    <div nz-col>
                      <div nz-checkbox class="check4"></div>
                    </div>
                    <div nz-col class="prioritize">
                        Ưu tiên
                    </div>
                    <div class="linehight6"></div>

                    <div nz-col>
                      <div nz-checkbox class="check5"></div>
                    </div>

                    <div nz-col class="collect_money">
                     Thu tiền
                   </div>
                   <div class="linehight7"></div>

                   <div nz-col>
                    <div nz-checkbox class="check6"></div>
                  </div>
                  <div nz-col class="insurance">
                    BH Nhân Thọ
                  </div>
                  <div class="linehight8"></div>
                  <div nz-col class="policy">
                    Chính sách
                  </div>
                </div> 
                </div>
                </div>
              </div>
      </div>
</div> 
        <div class="form_right">
              <div class="header_form_right">
                      <div class="form_insurance">
                        <div nz-row class="header_insurance">
                          <div nz-col   nzSpan="8" class="tilte_insurance">Thẻ bảo hiểm</div>
                          <div nz-col nzSpan="2" class="switch">
                                  <nz-switch nzSize="small" ></nz-switch>
                          </div>
                        </div>

                        <div class="linehight9"></div>

                        <div nz-row class="form_card">
                          <div nz-col  class="title_card">Mã thẻ</div>
                          <div nz-col>
                            <form nz-form [formGroup]="formCard">
                              <nz-form-item>
                                    <nz-form-control nzErrorTip="Mã thẻ không hợp lệ">
                                        <nz-input-group>
                                          <input 
                                          type="text" 
                                          nz-input
                                          formControlName="idCard"
                                          placeholder="Nhập"
                                           class="input25">
                                        </nz-input-group>
                                    </nz-form-control>
                              </nz-form-item>
                          </form>
                          </div>
                        </div>

                        <div nz-row class="form_NameCard">
                          <div nz-col  class="title_NameCard">Tên trên thẻ</div>
                          <div nz-col>
                            <form nz-form [formGroup]="formCard">
                              <nz-form-item>
                                    <nz-form-control nzErrorTip="Tên thẻ không hợp lệ">
                                        <nz-input-group>
                                          <input 
                                          type="text" 
                                          nz-input
                                          formControlName="nameCard"
                                          placeholder="Nhập" 
                                          class="input26"
                                          >
                                        </nz-input-group>
                                    </nz-form-control>
                              </nz-form-item>
                          </form>
                          </div>
                        </div>

                        <div nz-row class="form_Date">
                          <div nz-col  class="title_Date">Ngày sinh</div>
                          <div nz-col>
                            <form nz-form [formGroup]="formCard">
                              <nz-form-item>
                                    <nz-form-control nzErrorTip="Bạn chưa điền ngày sinh">
                                        <nz-input-group>
                                          <input 
                                          type="text" 
                                          nz-input
                                          formControlName="dateCard"
                                          placeholder="Nhập" 
                                          class="input27"
                                          >
                                        </nz-input-group>
                                    </nz-form-control>
                              </nz-form-item>
                          </form>
                          </div>
                        </div>

                       <div class="background_QrCode">
                        <div nz-row class="form_QrCode">
                              <div nz-col class="icon_Qr">
                                <span nz-icon nzType="qrcode" nzTheme="outline" ></span>
                              </div>
                              <div nz-col class="titlte_Qr">Mã QR</div> 
                        </div>

                      <div nz-row class="form_CheckCard">
                          <div nz-col>
                            <span nz-icon nzType="scan" nzTheme="outline"></span>
                          </div>
                          <div nz-col class="titlte_CheckCard">Kiểm tra thẻ</div> 
                     </div>
                      </div> 
                      </div>
              </div>

              <div class="header_Bot">
                    <div class="form_Id">
                      <div nz-row class="header_Id">
                        <div nz-col   nzSpan="8" class="tilte_Id">Nhân thân</div>
                        <div nz-col nzSpan="2" class="switch1">
                                <nz-switch nzSize="small" ></nz-switch>
                        </div>
                      </div>

                      <div class="linehight10"></div>

                      <div nz-row class="form_Realationship">
                        <div nz-col  class="title_Realationship">Quan hệ với BN</div>
                        <div nz-col>
                          <form nz-form [formGroup]="formRelatives">
                            <nz-form-item>
                                  <nz-form-control nzErrorTip="Quan hệ không hợp lệ">
                                      <nz-input-group>
                                        <input
                                         type="text" 
                                         nz-input
                                         formControlName="relatives"
                                         placeholder="Nhập">
                                      </nz-input-group>
                                  </nz-form-control>
                            </nz-form-item>
                        </form>
                        </div>
                      </div>

                      
                      <div nz-row class="form_NameRealtionship">
                        <div nz-col  class="title_NameRealtionship">Họ tên</div>
                        <div nz-col >
                          <form nz-form [formGroup]="formRelatives" >
                            <nz-form-item>
                                  <nz-form-control nzErrorTip="Bạn chưa nhập họ tên">
                                      <nz-input-group >
                                        <input 
                                        type="text" 
                                        nz-input
                                        formControlName="nameRelatives"
                                        placeholder="Nhập"
                                        >
                                      </nz-input-group>
                                  </nz-form-control>
                            </nz-form-item>
                        </form>
                        </div>
                      </div>

                      <div nz-row class="form_TelephoneNumber">
                        <div nz-col  class="title_TelephoneNumber">Điện thoại</div>
                        <div nz-col>
                          <form nz-form [formGroup]="formRelatives">
                            <nz-form-item>
                                  <nz-form-control nzErrorTip="Số điện thoại không hợp lệ">
                                      <nz-input-group>
                                        <input 
                                        type="text"
                                        nz-input
                                        formControlName="phoneRelatives" 
                                        placeholder="Nhập"
                                        >
                                      </nz-input-group>
                                  </nz-form-control>
                            </nz-form-item>
                        </form>
                        </div>
                      </div>


                      <div nz-row class="form_AddressRealtionship">
                        <div nz-col class="title_AddressRealtionship">Địa chỉ</div>
                        <div nz-col>
                          <form   nz-form [formGroup]="formRelatives">
                            <nz-form-item>
                                  <nz-form-control nzErrorTip="Bạn chưa nhập địa chỉ">
                                      <nz-input-group>
                                        <input 
                                        type="text"
                                        nz-input
                                        formControlName="addressRelatives" 
                                        placeholder="Nhập"
                                        >
                                      </nz-input-group>
                                  </nz-form-control>
                            </nz-form-item>
                        </form>
                        </div>
                      </div>

                    </div>
                  
              </div>
        </div>    
</div>

          <div   class="form_Caculate">
            <div class="layout_Left">
                <div nz-row class="form_MoneyPay">
                  <div nz-col class="title_Money">Đồng chi trả:</div>
                  <div nz-col class="Money"></div>
                </div>
               
                <div class="linehight11"></div>

                <div nz-row class="form_PatientPay">
                  <div nz-col class="title_PatientPay">Bệnh nhân trả</div>
                  <div nz-col class="Money_PatientPay"></div>
                </div>

                <div class="linehight12"></div>

                <div nz-row class="form_NumberNext">
                  <div nz-col class="title_NumberNext">Số tiếp đón:</div>
                  <div nz-col class="number_PatientPay"></div>
                </div>

                <div class="linehight13"></div>

                <div nz-row class="form_NumberPatient">
                  <div nz-col class="title_NumberPatient">BN đã khám tại A5_302:</div>
                  <div nz-col class="number_Examined"></div>
                </div>
            </div>

            <div class="layout_right">
              <div nz-row class="form_Print">
                <div nz-col class="">
                  <span nz-icon nzType="printer" nzTheme="outline"></span>
                </div>
                <div nz-col class="title_Print">In phiếu</div>
              </div>

              <div nz-row class="form_SaveInfor">
                <div nz-col class="">
                  <span nz-icon nzType="save" nzTheme="outline"></span>
                </div>
                  <button 
                  class="submitButton"
                  nz-button
                  (click)="submitForm()"
                  >
                    Lưu thông tin
                  </button>
              
              </div>
            </div>


        

             
            
          </div>